<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LazMall</title>

    <link rel="stylesheet" href="./assets/index.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="nav-heading">
        <a href="">Góp ý</a>
        <a href="">Tiết kiệm hơn với ứng dụng</a>
        <a href="">Bán hàng cùng lazada</a>
        <a href="">Chăm sóc khách hàng</a>
        <a href="">Kiểm tra đơn hàng</a>
    </div>


    <div class="container">
        <!-- start nav -->
        <div class="nav-body">
            <div class="nav-right">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="nav-main">
                        <div class="nav-logo">
                            <img src="https://laz-img-cdn.alicdn.com/images/ims-web/TB1T7K2d8Cw3KVjSZFuXXcAOpXa.png"
                                width="135px" style="padding: 5px 10px 5px 10px;" alt="lzdlogo">
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <input type="text" class=" input-search" placeholder="Tìm kiếm với lazada">
                                <img src="./image/search.png" class="btn-search" alt="search">
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <img src="./image/cart.png" width="40px"
                                        style="margin-left: 280px; margin-right: 10px; margin-top: 5px" alt="cart-icon">
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div>

            <div class="nav-letf">
                <img src="https://img.alicdn.com/imgextra/i2/O1CN01yOpioK1Qz7NKPWfkw_!!6000000002046-2-tps-376-90.png"
                    alt="lzdlogo-banner">
            </div>
        </div>
        <!-- end nav -->

        <!-- start banner -->
        <div class="banner-body">
            <div class="banner-right">

                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide"
                                src="https://img.lazcdn.com/us/domino/039ca1c1-c2a4-4527-9630-b411014d0a27_VN-1976-688.jpg_2200x2200q80.jpg_.avif">
                            <div class="container">
                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide"
                                src="https://img.lazcdn.com/us/domino/27002eb0-d9cc-4c21-bd90-0d9400c042c3_VN-1976-688.jpg_2200x2200q80.jpg_.avif">
                            <div class="container">
                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide"
                                src="https://img.lazcdn.com/us/domino/bf29d1ac-4a80-4fc1-aeaf-9192b493b2a5_VN-1976-688.jpg_2200x2200q80.jpg_.avif">
                            <div class="container">
                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span
                            class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span
                            class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>

            <div class="banner-letf">
                <img src="./image/main_banner_letf.png" alt="bannerletf">
            </div>
        </div>
        <!-- end banner -->

        <!-- page-content1 -->
        <div class="page-content">
            <!-- item1 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 page-content-left">
                    <h4><b>LazMall</b></h4>
                    <h6><i>100% Authentic brands</i></h6>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 page-content-right">
                    <img src="https://img.lazcdn.com/us/domino/901aecdc-e8dc-4bf2-9464-476f799a8200_VN-276-260.png_300x300q80.jpg_.avif"
                        alt="img">
                </div>
            </div>

            <!-- item2 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 page-content-left">
                    <h4><b>Vorcher</b></h4>
                    <h6><i>Thu thập và sử dụng ngay</i></h6>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 page-content-right">
                    <img src="https://img.lazcdn.com/us/domino/52eea06f-896c-4e21-a3b8-9b681e4485a5_VN-276-260.png_300x300q80.jpg_.avif"
                        alt="img">
                </div>
            </div>

            <!-- item3 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 page-content-left">
                    <h4><b>Top Up</b></h4>
                    <h6><i>Nạp cart điện thoại/4G giá rẻ</i></h6>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 page-content-right">
                    <img src="https://img.lazcdn.com/us/domino/81ab3f69-2391-4129-88d7-d285aa0ffd93_VN-276-260.png_300x300q80.jpg_.avif"
                        alt="img">
                </div>
            </div>
        </div>

        <!-- page-content2 -->
        <div class="page-content">
            <img src="https://img.lazcdn.com/us/domino/d1cbee2a-8d68-4fc5-ad29-e16488fc0102_VN-1188-140.gif_2200x2200q80.jpg_.webp"
                width="99%" alt="img">
        </div>

        <!-- dealchopws nhoáng -->
        <div class="page-content">
            <div class="deal-header">
                    <div class="deal-title">Deal Chớp Nhoáng</div>
                <div class="timer">
                    <div class="timer-box">16</div>
                    <div class="timer-box">29</div>
                    <div class="timer-box">25</div>
                </div>
                <a href="#" class="buy-all-btn">MUA SẮM TOÀN BỘ SẢN PHẨM</a>
            </div>
    
            <div class="products-grid">
                <!-- Example product card -->
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" alt="Product" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">Thùng Sữa chua uống Probi Hương Dâu</h3>
                        <div class="price-section">
                            <span class="product-price">199.000₫</span>
                            <span class="original-price">249.000₫</span>
                            <span class="discount">-20%</span>
                        </div>
                    </div>
                </div>
                <!-- More product cards would go here -->
            </div>
        </div>

        <!-- LazMall -->
         <div class="page-content">
            <div class="lazMall-section">
                <div class="section-header">
                    <h2>LazMall</h2>
                    <a href="#" class="view-more">Xem Thêm ></a>
                </div>
                <div class="brand-grid">
                    <!-- Example brand card -->
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <div class="brand-card">
                        <img src="https://img.lazcdn.com/g/p/cec3573ae164b42fc902773a7d69f3d5.png_400x400q80.png_.avif" alt="Brand" class="brand-logo">
                        <h3 class="brand-name">Thảo Nguyên Shop</h3>
                        <div class="brand-category">Thảo Nguyên Shop</div>
                    </div>
                    <!-- More brand cards would go here -->
                </div>
            </div>
         </div>

        <!-- page-content3 -->
         <h3>Danh Mục</h3>
        <div class="page-content">
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Loa không dây & loa Bluetooth</h5>
                    </div>
                </div>
            </div>
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/bcda6d8c3ca6de7631d425ffe363587e.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Đồng hồ thông minh</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>

            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Loa không dây & loa Bluetooth</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>

            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Loa không dây & loa Bluetooth</h5>
                    </div>
                </div>
            </div>
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/bcda6d8c3ca6de7631d425ffe363587e.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Đồng hồ thông minh</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>

            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/c17b7cf5e9b7661df70cdb16cf14f9f4.png_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Loa không dây & loa Bluetooth</h5>
                    </div>
                </div>
            </div>
            
            <div class=" thumbnail-content col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail thumbnail-item">
                    <img src="https://img.lazcdn.com/g/p/7dfc4080556c6159408282978bfa62c9.jpg_170x170q80.jpg_.avif" width="100px" alt="">
                    <div class="caption">
                        <h5>Tai nghe nhét tai không dây</h5>
                    </div>
                </div>
            </div>
        </div>

        <h3>Dành riêng cho bạn</h3>
        <div class="page-content">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="product-card">
                    <img src="https://img.lazcdn.com/g/p/8798f60a158df2fc99cc96dcc64b330b.jpg_400x400q80.jpg_.avif" alt="Summer Sandals" class="product-image">
                    <div class="product-info">
                        <div class="product-title">Summer Beach Sandals for Men</div>
                        <div class="price-container">
                            <span class="current-price">26,900₫</span>
                            <span class="discount-badge">-54%</span>
                        </div>
                        <div class="rating">
                            <span class="stars">★★★★★</span>
                            <span class="review-count">(131)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btn-load-all col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="#" class="load-all-btn">Tải Thêm</a>
            </div>
            
        </div>

        <div class="page-content">
            <!-- item1 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <img src="https://img.lazcdn.com/us/domino/474e65da5a6ed1a078c0e66e929d378b.png_2200x2200q80.jpg_.avif" width="350px" alt="">
            </div>
            <!-- item1 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <img src="https://img.lazcdn.com/us/domino/f3947c0bcaf171d91ac032e2820bbb88.png_2200x2200q80.jpg_.avif" width="350px" alt="">
            </div>
            <!-- item1 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 page-content-item">
                <img src="https://img.lazcdn.com/us/domino/37713475645bb0698c30715499fdef2d.png_2200x2200q80.jpg_.avif" width="350px" alt="">
            </div>
        </div>

        <div class="footer">
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>LIÊN HỆ VỚI LAZADA</h5>
                <a href="">Hotline & Chat trực tuyến (24/7)</a><br>
                <a href="">trung tâm hỗ trợ</a><br>
                <a href="">Hướng dẫn đặt hàng</a><br>
                <a href="">Giao hàng & nhận hàng </a><br>
                <a href="">Chính sách nhập khẩu</a><br>
                <a href="">Hướng dẫn đổi trả hàng</a><br>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>LAZADA VIỆT NAM</h5>
                <a href="">Về Lazada Việt Nam</a><br>
                <a href="">Bán hàng cùng Lazada</a><br>
                <a href="">Chương trình Lazada Afﬁliate</a><br>
                <a href="">Tuyển dụng</a><br>
                <a href="">Điều khoản sử dụng</a><br>
                <a href="">Chính sách bảo mật</a><br>
                <a href="">Báo chí</a><br>
                <a href="">Bảo vệ quyền sở hữu trí tuệ</a><br>
                <a href="">Quy chế hoạt động sàn Lazada</a><br>
                <a href="">Quy trình giải quyết tranh chấp, khiếu nại</a><br>



            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="./image/banner_footer.png" width="560px" alt="img bn ft">
                <p>CÔNG TY TNHH RECESS<br>
                    Giấy CNĐKDN: 0308808576 – Ngày cấp: 06/5/2009, được sửa đổi lần thứ 22 ngày 11/11/2024.<br>
                    Cơ quan cấp: Phòng Đăng ký kinh doanh – Sở kế hoạch và Đầu tư TP.HCM<br>
                    Địa chỉ đăng ký kinh doanh: Tầng 19, Tòa nhà Saigon Centre – Tháp 2, 67 Lê Lợi, Phường Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam.</p>
            </div>
            
        </div>

    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>